<div class="container-fluid dash-container">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-md-10">
      <div class="jumbotron mt-3" style="height: calc(80vh);">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1 class="dash-title">Przykładowa treść na główną stronę</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <p class="lead">
                Obiekt zajmie 50% wysokości aktualnego widoku tak aby można
                zauważyć "ciąg dalszy" storny do 'scrollowania'. Może to być
                zwykłe ogłoszenie[?] z odnośnikie np do ostatniego projektu.
              </p>
              <button
                type="button"
                class="btn btn-outline-warning"
                [routerLink]="['/estimate']"
              >
                Kontakt
              </button>
            </div>
            <div class="col-4">
              <img
                src="../../assets/lightbulb.jpg"
                alt="lightbulb"
                height="300px"
                width="300px"
              />
              <p>przykładowy obrazek, zmienić bo wygląda ujowo</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8">
      <div class="services">
        <h1>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h1>

        <p>
          Nullam egestas magna vitae turpis rhoncus auctor. Vivamus ut augue
          dolor. Praesent sit amet aliquet metus, eget.
        </p>
      </div>
    </div>
  </div>
</div>
